extends layout

block content
  .jumbotron
    h1 How may i help you?
    p Lorum ipsum dolor sit amet bla bla bla
    a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;

  .container
    .row
      .col-md-4
        h2 About Us
        p Lorum ipsum dolor sit amet bla bla bla
        a.btn.btn-default(href='#') View Details &raquo;
      .col-md-4
        h2 Services
        p Lorum ipsum dolor sit amet bla bla bla
        a.btn.btn-default(href='#') View Details &raquo;
      .col-md-4
        h2 Get in touch
        p Lorum ipsum dolor sit amet bla bla bla
        a.btn.btn-default(href='#') View Details &raquo;
